@use "./Var" as *;

#open_source_license {
  overflow-y: auto;
  > main {
    padding: 0 calc($base-size / 2) calc($base-size / 2);
    > .container {
      background-color: $color-fore;
      padding: 0 calc($base-size / 4);
      border-radius: $base-radius;
      > .item_container {
        padding: calc($base-size / 8) 0;
        position: relative;
        &:nth-of-type(n + 2)::after {
          content: "";
          display: block;
          width: calc(100% - $base-size / 2);
          height: 1px;
          position: absolute;
          top: calc(($base-size / 32) * -1 + 0.5px);
          left: calc($base-size / 4);
          background-color: $color-separate;
        }
        > .item {
          min-height: $base-size;
          padding: 0 calc($base-size / 4);
          border-radius: $base-radius;
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          user-select: none;
          position: relative;
          cursor: pointer;

          > span > .sub_text {
            font-size: 0.7em;
            line-height: 0.7em;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
